{% extends 'base.html' %} 

{% block content %}




<div class="container-md" style="padding-right:150; padding-left: 150;">

    
   
    <p style="font-family:Verdana;font-size:35px; ">Hi </p> 

    <p  style="font-family:Verdana;font-size:30px;">I'm Shantanu. </p>

    <p  style="font-family:Verdana;font-size:18px;">
        A Software Engineer with expertise in Data Science. <br>

        Bachelor of Engineer graduate from GH Raisoni Institute Of Engineering Technology <br>

        I work at the crossroads of human and AI interaction, in an effort to help augment human analytical and problem solving capabilities with Artificial Intelligence.<br>

    
    <br>
    <div class="Latest Posts">
    <p style="color:#0099FF ;font-family:Verdana;font-size:25px; " > Latest Posts  <h4 style="font-family:Verdana;font-size:15px; align:right">Read all posts</h4></p> 
  
    <hr>

    <p  style="font-family:Verdana;font-size:18px;">Best Python Modules for Automation</p>
    <p>24 Feb, 2021  <a href="https://www.geeksforgeeks.org/best-python-modules-for-automation/"> View </a>    </p>
    <p  style="font-family:Verdana;font-size:18px;">How to Create Ubuntu Live USB in Windows?</p>
    <p>01 Feb, 2021 <a href="https://www.geeksforgeeks.org/how-to-create-ubuntu-live-usb-in-windows/"> View </a>     </p>
    <p  style="font-family:Verdana;font-size:18px;">Reduce Data Consumption on Windows OS</p>
    <p>08 Jan, 2021 <a href="https://www.geeksforgeeks.org/reduce-data-consumption-on-windows-os/"> View </a> </p>
        
    </div>
</div>





{% endblock %}